body{
  margin: 0;
  padding: 0;
  background-image: url(fondo.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Montserrat",sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100');






.contenedor{
  display: grid;
  grid-template-columns: 104px auto 104px;
  grid-template-rows: 109px 862px 109px;
  grid-column: 2/3;
}

.cuadro{
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr 1fr;
  background: #772BD9;
  border-radius: 20px;
  -webkit-box-shadow: -13px 0px 54px 0px rgba(0,0,0,0.52);
-moz-box-shadow: -13px 0px 54px 0px rgba(0,0,0,0.52);
box-shadow: -13px 0px 54px 0px rgba(0,0,0,0.52);

}
.cuadro h1{
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-size: 55px;
  color: white;
}
.cuadro a{
  color: white;
  grid-column: 3/4;
  text-decoration: none;
  font-size: 27px;
  margin-top: 32px;
  margin-left: 150px;
}



.contenedor2{
  display: grid;
  grid-gap: 14px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 140px;
  margin-right: 140px;
}

#imagen1{
  background: url(imagen.jpg);
  background-size: cover;
  height: 343px;
}

#imagen2{
  background: url(imagen.jpg);
  background-size: cover;
  height: 343px;
}
#imagen3{
  background: url(imagen.jpg);
  background-size: cover;
  height: 343px;
}
#imagen4{
  background: url(imagen.jpg);
  background-size: cover;
  height: 343px;
  margin-top: 111px;
}
#imagen5{
  background: url(imagen.jpg);
  background-size: cover;
  height: 343px;
  margin-top: 111px;
}
#imagen6{
  background: url(imagen.jpg);
  background-size: cover;
  height: 343px;
  margin-top: 111px;
}



@media all and (max-width: 1100px){
  .cuadro{
    grid-column: 1/4;
  }
  .cuadro h1{
    grid-column: 1/4;
  }
  .cuadro a{
    grid-column: 1/4;
    text-align: center;
    margin-left: 0;
  }
}
